
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Datatables-layout.cshtml";
}


@{
    ViewData["Title"] = "aktifEmployee";
    Layout = "~/Views/Shared/Datatables-layout.cshtml";
}


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Datatables-layout.cshtml";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>DataTables</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">DataTables</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <!--button add-->
                            <button type="button" class="btn btn-success" onclick="add()" data-toggle="modal" data-tooltip="tooltip" data-placement="bottom" title="Add New Department" data-target="#exampleAdd">
                                <i class="fas fa-plus"></i>
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleAdd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Add New Employee</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span hidden="hidden" class="input-group-text" id="basic-addon1">NIK</span>
                                                </div>
                                                <input type="hidden" class="form-control" placeholder="NIK" aria-label="nik" id="nik" aria-describedby="basic-addon1" disabled>
                                            </div>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">First Name</span>
                                                </div>
                                                <input type="text" class="form-control" placeholder="First Name" aria-label="firstName" id="firstName" aria-describedby="basic-addon1">
                                            </div>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">Last Name</span>
                                                </div>
                                                <input type="text" class="form-control" placeholder="Last Name" aria-label="lastName" id="lastName" aria-describedby="basic-addon1">
                                            </div>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">Phone</span>
                                                </div>
                                                <input type="number" class="form-control" placeholder="Phone" aria-label="phone" id="phone" aria-describedby="basic-addon1">
                                            </div>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">Address</span>
                                                </div>
                                                <input type="text" class="form-control" placeholder="Address" aria-label="address" id="address" aria-describedby="basic-addon1">
                                            </div>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">isActive</span>
                                                </div>
                                                <select name="isActive" id="isActive" class="form-control">
                                                    <option selected value="">Pilih</option>
                                                    <option value="true">Aktif</option>
                                                    <option value="false">Non-Aktif</option>
                                                </select>
                                            </div>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">Department</span>
                                                </div>
                                                <select name="department" id="departmentId" class="form-control">
                                                    <option selected value="">Pilih</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" id="save" data-dismiss="modal" onclick="save()">Save Changes</button>
                                            <button type="button" class="btn btn-warning" id="update" data-dismis="modal" onclick="Update()">Edit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="tb_inAktifemployee" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>NIK</th>
                                            <th>First Name</th>
                                            <th>Phone</th>
                                            <th>Email</th>
                                            <th>Addresss</th>
                                            <th>isActive</th>
                                            <th>Department</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

@section Scripts {
    <!-- jQuery -->
    <script src="~/adminlte-3.2.0/docs/assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/adminlte-3.2.0/docs/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!--tooltip-->
    <script>
        $(function () {
            $('[data-tooltip="tooltip"]').tooltip({
                trigger: 'hover'
            });
        })
    </script>
    <script src="~/adminlte-3.2.0/plugins/datatables/jquery.datatables.min.js"></script>
    <script src="~/adminlte-3.2.0/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/adminlte-3.2.0/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/adminlte-3.2.0/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/adminlte-3.2.0/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/adminlte-3.2.0/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/adminlte-3.2.0/plugins/jszip/jszip.min.js"></script>
    <script src="~/adminlte-3.2.0/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/adminlte-3.2.0/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/adminlte-3.2.0/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/adminlte-3.2.0/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/adminlte-3.2.0/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/adminlte-3.2.0/dist/js/adminlte.min.js"></script>

    <!-- Page specific script -->
    <script src="~/js/inActivescript.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
}



